<div id="<%= dom_id redirect %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">From:</strong>
    <%= redirect.from %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">To:</strong>
    <%= redirect.to %>
  </p>

</div>
