<div <%= merged_classes_class_attribute %>>
    <%= c 'admin/form/label', name:, form:, label: %>
    <%= form.text_area name,
        data: {
            controller: "textarea-autogrow"
        },
        rows: rows,
        class: "block p-2.5 w-full text-xl text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
        value: value,
        **attributes %>
    <%= c 'admin/form/help', help: %>
</div>
