<%= c 'admin/form/drawer' , id: drawer_id, klasses:, text: "Preview" , controllers: "admin--preview", data: {"admin--preview-form-id-value": form_id, "admin--preview-url-value": previews_path} do %>
  <div data-admin--preview-target="spinner" class="hidden">
    <%= c 'admin/spinner' %>
  </div>
  <div id="preview" data-admin--preview-target="preview"></div>
<% end %>
