<a href="<%= logo_url %>" class="<%= merge_wrapped_class('flex items-center justify-between mr-4') %>">
    <%= svg :webpage, class: "mr-3 h-8" %>
    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">PhrontPage</span>
</a>
