<div class="space-y-4">
  <h1 class="font-bold text-4xl">PhrontPage Tools</h1>
  <p>These tools will help you get more out of your PhrontPage blog.</p>
  <p>To get started, just drag and drop them on your browsers toolbar.</p>
</div>
<div class="py-5  border-gray-200 flex items-start space-x-4">
  <a class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" href="javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('<%= new_post_url %>?form_type=popup&url='+encodeURIComponent(q)+'&body='+encodeURIComponent(d)+'&title='+encodeURIComponent(p),'Write New Post','toolbar=no,width=600,height=600'));">Share Current URL</a>
  <a class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" href="javascript:void(open('<%= new_post_url %>?form_type=popup','Write New Post','toolbar=no,width=600,height=600'));">Just Write</a>
  </span>
</div>