<div class="<%= merge_wrapped_class("w-full bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700")%>">
  <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h2 class="font-bold text-4xl pb-4"><%= form_title %></h2>
      <% if model %>
        <%= c 'admin/model_errors', model: model %>
      <% end %>
      <%= content %>
  </div>
</div>
