<div class="space-y-4">
  <h1 class="font-bold text-4xl">Welcome to PhrontPage</h1>
  <p>This is the admin dashboard. You can manage your blog here.</p>
  <p>Eventually, this page will have some stats/tips/etc, but for now, please use the sidebar to navigate. 😀</p>
  <p>Please reach out with any questions or comments on the <a class="underline text-prmary-500 hover:no-underline" target="_blank" href="https://github.com/scottwater/phront_page/issues">issues</a> page.</p>
</div>
